<main class="h-screen flex justify-center items-center">

<nav>
  <ul>
    <li><a routerLink="" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500">Home</a></li>
    <li><a [routerLink]="['user', '1']" routerLinkActive="active" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500">users</a></li>
    <li><a routerLink="/tasks" routerLinkActive="active" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500">Tasks</a></li>
    <li><a routerLink="/form" class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500">Form</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
</main>
